body {
    background: rgb(117, 107, 107);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    font-family: Arial-sans-serif;
    margin:0;
    padding: 05px;
    line-height: 0.5;
    font-weight: 500;
}
header {
    background: #22223b;
    color: white;
    padding: 30px;
    text-align: center;
    margin: 05px auto;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav {
    background: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    color: black;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color:bisque;
}
.wallpaper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.wallpaper-item {
    background: #fff;
    border-radius: 12px;
}
.wallpaper-item img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
}
.wallpaper-item a {
    display: inline-block;
    background: #4a4e69;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}