body {
    font-family: Times New Roman, Times, serif;
    font-size: 15px;
    background: white;
    color: black;
    margin: auto;
    padding: 20px;
    line-height: 1.0;
}
header {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(circle at center, #4A90E2 0%, #1C3F94 80%);    padding: 20px;
    color: white;
}
section {
    margin: 20px auto;
    padding: 20px;
}
.wallpaper {
    background-color: #ffffff;
    padding: 20px;
}
wallpaper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(250px, 1fr));
    gap: 20px;
}
.wallpaper-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.wallpaper-card:hover {
    transform: translateY(-5px);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.footer-card {
    background-color: black;
    color: white;
}
.wallpaper-link {
    display: inline-block;
}